/* styles/globals.css */
.container {
  background-color: #f8f9fa;
}

.header {
  max-width: 100%;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px 3%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height:auto;
}

.title {
  font-size: 200%;
  font-weight: bold;
}

.nav-list-button {
  list-style: none;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 24px;
  padding:3% 3%;
}

.nav-item {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 150%;
}

.nav-list-link{
  list-style: none;
  display: flex;
  flex-grow: 1;
}

.nav-item-l img{
  width:80%;
  height:auto;

}

.nav-item:hover {
  color: #000;
} 

.calendar-container {
    max-width: 90%;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .fc {
    font-family: Arial, sans-serif;
  }
  
  .fc-toolbar-title {
    font-size: 24px !important;
    font-weight: bold;
  }
  
  .fc-daygrid-day {
    cursor: pointer;
  }
  
  .fc-day-today {
    background-color: rgba(0, 123, 255, 0.1) !important;
  }
  
  .fc-event {
    background-color: #007bff !important;
    border: none !important;
    color: white !important;
    font-size: 14px !important;
    padding: 4px 6px !important;
    border-radius: 4px !important;
  }
  