/* styles/globals.css */
.container {
  background-color: #f8f9fa;
}

.header {
  width: 95%;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px 3%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height:auto;
  position:fixed;
}

.title {
  font-size: 200%;
  font-weight: bold;
}

.nav-list-button {
  list-style: none;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 24px;
  padding:3% 3%;
  font-weight:bold;
}

.nav-item {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 150%;
}

.nav-list-link{
  list-style: none;
  display: flex;
  flex-grow: 1;
}

.nav-item-l img{
  width:80%;
  height:auto;
}

.nav-item:hover {
  color: #000;
}

.margin{
  padding-top:8%;
}

@media(max-width:1200px) {
  .margin{
    padding-top:14%;
  }
}

@media(max-width:899px){
  .margin{
    padding-top:8%;
  }
}

.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding:1% 5%;
  margin-left:5%;
}

.intro-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-image {
  width:70%;
  height:70%;
}

.intro-right {
  flex: 2;
  padding: 20px;
}

.intro-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align:center;
}

.intro-text {
  font-size: 28px;
  margin-bottom: 5px;
  text-align:center;
}

/* Hobby Anime Section */
.hobby-anime{
  width: 80%;
  background-color: white;
  border-radius: 10px;
  padding:1% 5%;
  margin: 5% auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hobby-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align:center;
}

.hobby-text {
  font-size: 18px;
  font-weight:bold;
}

.anime-rank{
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display:flex;
  padding:1% 5%;
  margin:1% 0;
}

.anime-image{
  flex:1;
  width:80%;
  height:auto;
  justify-content: center;
  align-items: center;

}

.anime-detail{
  flex:2;
}

.anime-description{
  font-size:18px;
}

.hobby-game {
  width: 80%;
  background-color: white;
  border-radius: 10px;
  padding:1% 5%;
  margin: 5% auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tellme{
  font-size:24px;
}

.footer {
  width: 95%;
  background-color:blueviolet;
  padding: 1% 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
}

.footer-left h2 {
  font-size: 200%;
  font-weight: bold;
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav {
  list-style: none;
  padding: 0;
}

.footer-item {
  text-decoration: none;
  color: white;
  font-size:150%;
  margin-bottom: 0.5%;
  font-weight:bold;
}

.footer-item:hover {
  color: #000;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-icons {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  gap: 10px;
}

.footer-icons img {
  width: 80%;
  height: auto;
}
